*{
    margin:0;
    padding:0;
}
body{
    font-family: "microsoft yahei";
    font-size: 14px;
    
}

a{
    text-decoration: none;
    color:#303133;
}

ul,li{
    list-style:none;
}
.block{
    background:#303233;
}
